.nav-link {
  white-space: nowrap;
}
.nav-link:hover {
  background-color: #eee;
}
.nav-link.active {
  background-color: #888;
  color: #ffffff;
  cursor: default;
}
.nav-link.active:hover {
  background-color: #888;
}
