.nav-link {
  white-space: nowrap;
  &:hover {
    background-color: #eee;
  }
  &.active {
    background-color: #888;
    color: #ffffff;
    cursor: default;
    &:hover {
      background-color: #888;
    }
  }
}
